{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <h3 class="display-3">회원가입</h3>
    {% if request.args.get("e") == "pws" %}
        <div class="alert alert-danger">
            <p class="mb-0">비밀번호가 너무 짧습니다</p>
        </div>
    {% elif request.args.get("e") == "en" %}
        <div class="alert alert-danger">
            <p class="mb-0">이메일을 입력해야합니다</p>
        </div>
    {% elif request.args.get("e") == "ue" %}
        <div class="alert alert-danger">
            <p class="mb-0">해당 이메일 주소는 사용 중인 이메일 주소입니다</p>
        </div>
    {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" required="required">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" required="required">
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg">로그인</button>
        </form>
    </div>
{% endblock %}