{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" id="append">추가하기</button>
            <input type="text" class="form-control" placeholder="할일" id="todo">
        </div>

        <ul>
        {% for item in todo.items %}
            <li class="list-group-item td_item" data-id="{{ item.idx }}">
                {{ item.register|date }}&nbsp;&nbsp;&nbsp;{{ item.text }}
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="row py-5">
        <div class="btn-group">
            <a class="btn btn-secondary" href="{{ url_for('todo.dashboard', page=todo.prev_num) }}">이전 페이지</a>
            <a class="btn btn-secondary" href="{{ url_for('todo.dashboard', page=todo.next_num) }}">다음 페이지</a>
        </div>
    </div>

    <div class="row py-5">
        <p>
            <a class="btn btn-danger" href="{{ url_for('todo.clear') }}">투두 초기화 하기</a>
            <a class="btn btn-primary" href="{{ url_for('member.update') }}">비밀번호 변경하기</a>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script>
        document.getElementById("append").addEventListener("click", function(){
            let form = new FormData();
            form.append("todo", document.getElementById("todo").value);

            axios.post("{{ url_for('todo.append') }}", form).then(function(){
                window.location.reload();
                document.getElementById("todo").value = "";
            });
        });
    </script>
    <script>
        const todo_items = document.querySelectorAll("li.td_item");
        for(var key in Object.keys(todo_items)){
            todo_items[key].addEventListener("click", function(e){
                if(confirm("삭제하시겠습니까?")){
                    axios.get("{{ url_for('todo.pop') }}",{
                        params: {
                            idx: e.target.dataset.id
                        }
                    }).then(function(){
                        window.location.reload();
                    });
                }
            });
        }
    </script>
{% endblock %}