{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" id="append">추가하기</button>
            <input type="text" class="form-control" placeholder="할일" id="todo">
        </div>

        <ul style="border-radius:.25rem" id="todo_display"></ul>
    </div>

    <div class="row py-5">
        <div class="btn-group">
            <a class="btn btn-secondary" id="prev">이전 페이지</a>
            <a class="btn btn-secondary" id="next">다음 페이지</a>
        </div>
    </div>

    <div class="row py-5">
        <p>
            <a class="btn btn-primary" href="{{ url_for('member.update') }}">비밀번호 변경</a>
            <a class="btn btn-danger" href="{{ url_for('member.leave') }}">탈퇴</a>
            <a class="btn btn-warning" href="{{ url_for('2fa.setup') }}">2단계 인증</a>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script>
        let page = {{ page }};
        function render(){
            var todo_display = document.getElementById("todo_display");

            axios.get("{{ url_for('api.get') }}",{
                params: {
                    page: page
                }
            }).then(function(e){
                page = e.data.page;

                document.getElementById("prev").setAttribute("href", e.data.prev);
                document.getElementById("next").setAttribute("href", e.data.next);

                todo_display.innerHTML = "";
                e.data.todo.forEach(function(item){
                    var li = document.createElement("li");
                    li.setAttribute("class", "list-group-item");
                    li.setAttribute("data-idx", item.idx);
                    li.appendChild(document.createTextNode(item.text));

                    li.addEventListener("click", function(e){
                        if(confirm("삭제하시겠습니까?")){
                            axios.get("{{ url_for('api.pop') }}",{
                                params: {
                                    idx: e.target.dataset.idx
                                }
                            }).then(function(e){
                                window.alert(e.data.alert);
                                render();
                            }).catch(function(e){
                                window.alert(e.response.data.error);
                            });
                        }
                    });

                    todo_display.appendChild(li);
                });
            }).catch(function(e){
                window.alert("투두를 불러오는 과정에서 오류가 발생했습니다");
                console.log(e);
            });
        }
        document.onready = render();


        document.getElementById("append").addEventListener("click", function(){
            let form = new FormData();
            form.append("todo", document.getElementById("todo").value);

            axios.post("{{ url_for('api.append') }}", form).then(function(e){
                window.alert(e.data.alert); render();
                document.getElementById("todo").value = "";
            });
        });
    </script>
{% endblock %}