{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" id="append">추가하기</button>
            <input type="text" class="form-control" placeholder="할일" id="todo">
        </div>

        <ul style="border-radius:.25rem" id="todo_display"></ul>
        <p>
            <button class="btn btn-success" onclick="render();this.blur()">새로고침</button>
        </p>
    </div>

    <div class="row py-5">
        <div class="btn-group">
            <button class="btn btn-secondary" id="prev">이전 페이지</button>
            <button class="btn btn-secondary" id="next">다음 페이지</button>
        </div>
    </div>

    <div class="row py-5">
        <p>
            <a class="btn btn-primary" href="{{ url_for('member.update') }}">비밀번호 변경</a>
            <a class="btn btn-danger" href="{{ url_for('member.leave') }}">탈퇴</a>
            <a class="btn btn-warning" href="{{ url_for('2fa.setup') }}">2단계 인증</a>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script>
        let page = 1;
        let prev = 1;
        let next = 1;

        function render(){
            let todo_display = document.getElementById("todo_display");

            axios.get("{{ url_for('api.todo') }}",{
                params: {
                    page: page
                }
            }).then(function(e){
                page = e.data.page;
                prev = e.data.prev;
                next = e.data.next;

                todo_display.innerHTML = "";
                e.data.todo.forEach(function(item){
                    let li = document.createElement("li");
                    li.setAttribute("class", "list-group-item");
                    li.setAttribute("data-idx", item.idx);
                    li.appendChild(document.createTextNode(item.text));

                    function todoClear(e){
                        e.target.removeEventListener("click", todoClear);
                        e.target.addEventListener("click", todoWork);
                        e.target.innerText = e.target.childNodes[0].textContent;
                    }
                    function todoWork(e){
                        e.target.removeEventListener("click", todoWork);
                        e.target.addEventListener("click", todoClear);

                        let div = document.createElement("div");
                        div.setAttribute("class", "input-group");

                        let button = document.createElement("button");
                        button.setAttribute("class", "btn btn-outline-primary");
                        button.setAttribute("data-idx", e.target.dataset.idx);
                        button.appendChild(document.createTextNode("저장"));
                        button.addEventListener("click", function(e){
                            let todoElement = document.getElementById(`todo_edit_${e.target.dataset.idx}`);

                            let form = new FormData();
                            form.append("idx", e.target.dataset.idx);
                            form.append("todo", todoElement.value);

                            axios.patch("{{ url_for('api.todo') }}", form).then(function(e){
                                window.alert(e.data.alert); render();
                            }).catch(function(e){
                                window.alert(e.response.data.error);
                            });
                        });

                        let del_btn = document.createElement("button");
                        del_btn.setAttribute("class", "btn btn-outline-danger");
                        del_btn.setAttribute("data-idx", e.target.dataset.idx);
                        del_btn.appendChild(document.createTextNode("삭제"));
                        del_btn.addEventListener("click", function(e){
                            let form = new FormData();
                            form.append("idx", e.target.dataset.idx);
                            form.append("todo", "");

                            axios.patch("{{ url_for('api.todo') }}", form).then(function(e){
                                window.alert(e.data.alert); render();
                            }).catch(function(e){
                                window.alert(e.response.data.error);
                            });
                        });

                        let input = document.createElement("input");
                        input.setAttribute("type", "text");
                        input.setAttribute("class", "form-control");
                        input.setAttribute("id", `todo_edit_${e.target.dataset.idx}`);
                        input.setAttribute("value", e.target.innerText);

                        div.appendChild(button);
                        div.appendChild(del_btn);
                        div.appendChild(input);
                        e.target.appendChild(div);
                    }
                    li.addEventListener("click", todoWork);

                    todo_display.appendChild(li);
                });

                if(prev == null){
                    document.getElementById("prev").disabled = "disabled";
                } else {
                    document.getElementById("prev").disabled = false;
                }

                if(next == null){
                    document.getElementById("next").disabled = "disabled";
                } else {
                    document.getElementById("next").disabled = false;
                }
            }).catch(function(e){
                window.alert("투두를 불러오는 과정에서 오류가 발생했습니다");
                console.log(e);
            });
        }
        document.onready = render();

        document.getElementById("append").addEventListener("click", function(){
            let todoElement = document.getElementById("todo");
            if(todoElement.value.length != 0){
                let form = new FormData();
                form.append("todo", todoElement.value);

                axios.post("{{ url_for('api.todo') }}", form).then(function(e){
                    window.alert(e.data.alert); render();
                    todoElement.value = "";
                });
            }
        });

        document.getElementById("prev").addEventListener("click", function(){ page = prev; render(); });
        document.getElementById("next").addEventListener("click", function(){ page = next; render(); });
    </script>
{% endblock %}